{% extends 'vip/base.html' %}
{% load static %}

{% block before_main %}
<!-- <div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url({% static 'vip/images/banner2019.jpg' %});"></div>
    <div class="swiper-slide" style="background: url({% static 'vip/images/banner2018.jpg' %});"></div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div> -->

<div id="participe">
  <div class="jumbotron">
    <h2>Seu Guia de Descontos na Serra Gaúcha</h2>
    <p>Descontos em pontos turísticos, bares, restaurantes, pizzarias, cafés, lojas e serviços, como aluguel de carros e outros. Como Participo? Basta se hospedar em uma das pousadas conveniadas.</p>
    <p>
      <a href="https://www.pousadasserragaucha.com.br/" class="btn btn-primary">
        Pousadas participantes
      </a>
    </p>
  </div>
</div>
{% endblock %}
{% block content %}
  <!-- <div class="row guia">
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/31ssvdiiyxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm">
      <h2 class="gia_desc">Seu Guia de Descontos na Serra Gaúcha</h2>
      <div class="giatext">
        <p>Descontos em pontos turísticos, bares, restaurantes, pizzarias, cafés, lojas e serviços, como aluguel de carros e outros.</p>
        <p>Como participo?</p>
        <p>GRATUITO:  Basta se hospedar em uma das pousadas conveniadas.</p>
      </div>
      <a href="https://www.pousadasserragaucha.com.br/" class="btn btn-secondary btn-block">POUSADAS PARTICIPANTES</a>
    </div>

  </div> -->
  

  <div id="vantagens" class="container">
    <div class="row">
      <div class="col-md-4 item">
        <i class="fas fa-dollar-sign"></i>
        <h2 class="text-center">Gratuito</h2>
        <p class="text-center">Totalmente gratuito e intransferível, basta hospedar-se na pousada para tornar-se membro do Clube Hóspede Vip no ato do check-in.</p>
      </div>
      <div class="col-md-4 item">
        <i class="fas fa-star d-lg-flex justify-content-lg-center"></i>
        <h2 class="text-center">Sem anuidade</h2>
        <p class="text-center">Não existe anuidade, a participação tem validade apenas enquanto estiver hospedado na pousada. Ele expira no check-out.</p>
      </div>
      <div class="col-md-4 item">
        <i class="far fa-thumbs-up d-lg-flex justify-content-lg-center"></i>
        <h2 class="text-center">Vantagens</h2>
        <p class="text-center">Descontos em pontos turísticos, bares, restaurantes, pizzarias, cafés, lojas e serviços, como aluguel de carros e outros.</p>
      </div>
    </div>

  </div>


  {% if promotions %}
  <div id="promocoes">
    <div class="pb-2 mt-4 mb-2 border-bottom text-center">
      <h2>Promoções</h2>
    </div>
    <div class="row row-category">
      <div class="col-md-3">
        <select name="" id="" class="custom-select">
          <option selected disabled>Filtrar por Categoria...</option>
          <option value="CAFE">Cafés</option>
          <option value="REST">Restaurantes</option>
          <option value="Museus">Museus</option>
          <option value="Passeios">Passeios</option>
        </select>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
      {% for p in promotions %}
      <div class="col mb-4">
        
        <div class="card h-100">
            <div class="embed-responsive embed-responsive-16by9">
              <a href="{% url 'promotion' p.id %}">
                {% with images=p.images.all %}
                  {% if images %}
                    <img src="{{images.0.image.url}}" class="card-img-top embed-responsive-item" alt="{{ p.title }}">
                  {% endif %}
                {% endwith %}
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'store' p.store.slug %}" class="cardlnk">
                  {{ p.store.name }}
                </a>
              </h5>
              <span class="card-title text-success">
                <a href="{% url 'promotion' p.id %}" class="cardlnk">
                  <strong>{{ p.title }}</strong>
                </a>
              </span>
              <a href="{% url 'promotion' p.id %}" class="cardlnk">
                <p class="card-text text-justify">{{ p.description }}</p>
              </a>
            </div>
        </div>
        </div>
      {% endfor %}
    </div>
</div>
  {% else %}
  <p>Nenhuma promoção encontrada</p>
  {% endif %}
{% endblock %}
{% block footer %}
  <link rel="stylesheet" type="text/css" href="{% static 'vip/css/home.css' %}">
  <script src="{% static 'vip/js/home.js' %}"></script>
{% endblock %}