{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'vip/images/logo-pousadas-serra-gaucha-01.png' %}" width="60" class="d-inline-block align-top" alt="">
      Cluble <span class="hide-mobile">de vantagens</span> <strong>Hóspede VIP</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNavBar" aria-controls="siteNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="siteNavBar">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" href="#participe">Participe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#promocoes">Promoções</a>
        </li>
      </ul>
    </div>
  </div>
</nav>