{% extends 'vip/base.html' %}
{% block content %}
    {% if promotion %}
        <p>{{promotion.store.name}}</p>
        <p>{{promotion.title}}</p>
        <p>{{promotion.description}}</p>
        <p><img src="/{{promotion.image.url}}" alt="{{promotion.title}}" /></p>
        <p>{{promotion.enabled}}</p>
        <p>{{promotion.start_date}}</p>
        <p>{{promotion.end_date}}</p>
    {% endif %}
{% endblock %}