{% extends 'vip/base.html' %}
{% block content %}
{% if store %}
  <p>{{store.name}}</p>
  <p>{{store.slug}}</p>
  <p>{{store.address1}}</p>
  <p>{{store.address2}}</p>
  <p>{{store.address3}}</p>
  <p>{{store.district}}</p>
  <p>{{store.district}}</p>
  <p>{{store.city.name}}</p>
  <p>{{store.postal_code}}</p>
  <p>{{store.phone_number}}</p>
  <p>{{store.site}}</p>
  <p>{{store.email}}</p>
{% endif %}
{% endblock %}