h2.gia_desc {
  font-size: 1.8rem;
}

.giatext {
  margin-top: 20px;
  margin-bottom: 30px;
}

.guia {
  margin-top: 30px;
}

html, body {
    position: relative;
    height: 100%;
  }

.swiper-container {
  width: 100%;
  height: 70%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover; 
  background-position: center center;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}
.card-text{
  font-size: 0.9rem;
}

a.cardlnk {
  color: inherit;
  text-decoration:none;
}
.row-category{
  padding-bottom: 10px;
}

#vantagens .item i{
  font-size: 42px;
  color: #6f2321;
}
#vantagens .item h2 {
  font-weight: normal;
}
#vantagens .item p {
  font-size: 14px;
  
}
#vantagens .item {
  text-align: center;
}
#vantagens{
  margin-top: 90px;
  margin-bottom: 90px;
}

#participe {
  text-align: center;
  padding: 170px;
  background: url(../images/banner2019-1.jpg) no-repeat;
  background-size: cover;
}
#participe .jumbotron {
  border-radius: 20px;
  padding: 48px;
  background-color: rgba(255,255,255, 0.90);
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  #participe {
    padding: 20px;
  }
  #participe .jumbotron {
    padding: 20px;
  }
  #vantagens{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .hide-mobile {
    display: none;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}